<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">


<body>
	
<div layout:fragment="content">

	 	<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
					
                    <div class="col-sm-5 col-xl-4">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Countries</h5>
						        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						        <a href="/countries" class="btn btn-primary">Manage Countries</a>
						      </div>
						    </div>
                        </div>
                    </div>
                    
                
                           
                </div>
            </div>

</div>

</body>	

</html>