<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">


<body>
	
<div layout:fragment="content">
	 <form th:action="@{/parameters/contacts}" method="post">
	     <div class="row h-100 align-items-center justify-content-center" style="min-height: 90vh;">
			
				<div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add New Contact Record</h6>
                            <div class="form-floating mb-3">
                                <input name="email" type="text" class="form-control" id="txtEmailAdd"
                                    placeholder="email" th:value="${contact.email}">
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="firstname" type="text" class="form-control" id="txtFirstnameAdd"
                                    placeholder="FirstName" th:value="${contact.firstname}">
                                <label for="floatingInput">First Name</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input name="lastname" type="text" class="form-control" id="txtLastNameAdd"
                                    placeholder="LastName" th:value="${contact.lastname}">
                                <label for="floatingInput">Last Name</label>
                            </div>
                      
                            
                            <div class="form-floating mb-3">
                                <input name="mobile" type="text" class="form-control" id="txtMobileAdd"
                                    placeholder="Mobile" th:value="${contact.mobile}">
                                <label for="floatingInput">Mobile</label>
                            </div>
                            
							<div class="form-floating mb-3">
                                <input name="phone" type="text" class="form-control" id="txtPhoneAdd"
                                    placeholder="Phone" th:value="${contact.phone}">
                                <label for="floatingInput">Phone</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input name="remarks" type="text" class="form-control" id="txtRemarksAdd"
                                    placeholder="Remarks" th:value="${contact.remarks}">
                                <label for="floatingInput">Remarks</label>
                            </div>
                         
                             <div class="m-n2">
								<button type="submit" class="btn btn-primary m-2"><i class="fa fa-home me-2"></i>Save</button>
								<a href="/parameters/contacts" type="button" class="btn btn-primary m-2"><i class="fa fa-home me-2"></i>Exit</a>
							
							</div> 
                        </div>
                    </div>
                   
               </div>
     </form>

</div>

</body>	

</html>